@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.search-container {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #f8f9fa;
    color: #333;
}

.result-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
    position: relative;
    z-index: 0;
}

/* overwrite bootstrap card style */

.card-subtitle {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0.5rem;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-100%); */
    transition: all 1s;
    pointer-events: none;
}

.show {
    animation-delay: 200ms;
    opacity: 1;
    filter: blur(0);
    pointer-events: visible;
    /* transform: translateX(0); */
}

.description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}

@media (min-width: 768px) {
    .search-container {
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .search-container {
        max-width: 50%;
    }
}