@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
:root {
    --beige: #fbfdef;
    --green: #3a5245;
    --link: #41845f;
    --warn: #cb743d;

    /* Green Shades */
    --light-green: #6b7c66;
    --dark-green: #2c3a34;
    
    /* Link Shades */
    --light-link: #6ba082;
    --dark-link: #2e6246;
}
body {
    height: 100%;
    position: relative;
    background-image: linear-gradient(rgba(251, 253, 239, 0.8), rgba(58, 82, 69, 0.8)),
        url("./assets/bg_hemp_field_brighter.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.scroll-indicator {
    display: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    z-index: 1;
    background-color: var(--beige);     
    box-shadow: 0px -1px 6px var(--green);
}
header img {
    position: relative;
    top: 4px;
    height: auto;
    max-width: 40px;
}
header h1 {
    display: none;
    position: relative;
    bottom: 2px;
    color: var(--green);
}
header #filter-button {
    background-color: var(--green);
    border: 1px solid var(--link);
    color: var(--beige);
    min-width: 40px;
}
.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0.5rem 1rem;
    background-color: var(--green);
    color: var(--beige);
    z-index: 1;
    box-shadow: 0px 3px 7px var(--green);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}
.filter-container.open {
    max-height: 50px;
    opacity: 1;
}
.filter-container h5 {
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.filter-container.open > h5 {
    opacity: 1;
}
.filter-container > .btn-group {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.filter-container.open > .btn-group {
    opacity: 1;
}
.filter-container > .btn-group > .btn,
.filter-container > .btn {
    color: var(--green);
    background-color: var(--beige);
    border: 1px solid var(--light-link);
}
.filter-container > .btn-group > .btn-check:checked+.btn,
.filter-container > .btn-check:checked+.btn {
    color: var(--beige);
    background-color: var(--dark-link);
    border-color: var(--link);
    box-shadow: 0px 0px 6px var(--link) inset;
}
:not(.btn-check) + .btn:active {
    color: var(--beige);
    background-color: var(--dark-link);
    border-color: var(--link);
    box-shadow: 0px 0px 6px var(--link) inset;
}
.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 1024px;
    padding: calc(60px + 1rem ) 1rem;
    min-height: 100vh;
    text-align: center;
    transition: padding-top 0.5s ease;
}
.content.filter-opened {
    padding-top: calc(60px + 1rem + 50px);
}
.search-container {
    position: relative;
    display: inline-block;
    z-index: 1;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px !important;
}
.search-container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #f8f9fa;
    color: #333;
}
.clear-icon {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    cursor: pointer;
    font-size: 1.25rem;
    color: #888;
}
input[type="text"]:not(:placeholder-shown)~.clear-icon {
    display: block;
}
.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    padding: 10rem 0;
    margin: 60px 0 0;
    transition: opacity 0.5s ease-in-out;
}
.blur {
    filter: blur(3px);
} 
#search.demo-mode {
    border: 1px solid var(--warn);
    box-shadow: 0 0 8px var(--warn);
}
.introduction-text,
.no-results-text {
    position: absolute;
    top: 30vh;
}
.introduction-text p:not(#start-demo-link) {
    font-size: 1.1rem;
}
#show-results-button {
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0 auto 1rem;
    color: var(--green);
    cursor: pointer;
    border: 1px solid var(--green);
    border-radius: 5px;
    background-color: var(--beige);
    font-size: 1.25rem;
}
#start-demo-link {
    color: var(--beige);
    cursor: pointer;
    text-decoration: underline;
}
.result-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    position: relative;
    z-index: 0;
    text-align: left;
}

/* overwrite bootstrap card style */
a {
    text-decoration: none;
}
.card-subtitle {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0.5rem;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.6s;
    pointer-events: none;
}
.show {
    animation-delay: 100ms;
    opacity: 1;
    filter: blur(0);
    pointer-events: visible;
}
.description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}
.to-top-button {
    position: fixed;
    bottom: 5rem;
    right: 1.5rem;
    color: var(--beige);
    background-color: var(--dark-link);
    border-color: var(--link);
    box-shadow: 0px 0px 6px var(--link) inset;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }
.to-top-button .arrow-up {
    margin-right: 0.25rem;
    font-size: 1rem;
}
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 60px;
    color: var(--beige);
    background-color: var(--green);
}
footer a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--beige);
}
/* styles for content pages */

.container.content-page {
    max-width: 1024px;
    padding: calc(60px + 1rem) 1rem;
}
.container.content-page a {
    color: var(--beige);
}
footer {
    position: fixed;
}

/* media queries */
@media screen and (max-width: 768px) {
    .to-top-button.show {
        visibility: visible;
        opacity: 1;
    }
}
@media screen and (max-width: 1024px) {
    .scroll-indicator {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: transparent;
        z-index: 1001;
    }
    .scroll-indicator-bar {
        height: 100%;
        background: var(--link);
        width: 0;
    }
}
@media screen and (min-width: 480px) {
    #home header h1 {
        display: block;
        font-size: 1.75rem;
        top: 8px
    }
}
@media screen and (min-width: 768px) {
    #home header h1 {
        font-size: 2rem;
        top: 4px;
    }
    #home .search-container {
        max-width: 50%;
    }
    footer {
        gap: 6rem;
    }
    footer a {
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 1024px) {
    #home .search-container {
        max-width: 420px;
    }
    footer {
        gap: 8rem;
    }
    .header-back-link {
        display: none;
    }
}

@media (hover) {
    #home .card:hover {
        transform: scale(1.05);
    }
    header #filter-button:hover {
        background-color: var(--link);
    }
    #show-results-button:hover {
        background-color: var(--green);
        color: var(--beige);
        border: 1px solid var(--link);
    }
    #start-demo-link:hover {
        color: var(--link);
    }
}